<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoLiveRecorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <AutoLiveRecorder.Properties.Settings>
      <setting name="IsBtnCloseNotNoticeAgain" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsBtnCloseToExit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SavePath" serializeAs="String">
        <value>D:\AutoLiveRecorder</value>
      </setting>
      <setting name="IsNoticeShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsStatusNoticeShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsErrNoticeShow" serializeAs="String">
        <value>True</value>
      </setting>
    </AutoLiveRecorder.Properties.Settings>
  </userSettings>
</configuration>